/*______________________________________________________________*paramètres de la maquette*__________________________________*/
:root {
  /*______________________________________________________________*couleur de la maquette*__________________________________*/
  --rouge: #E00000;
  --rouge-secondaire: #FE5858;
  --rouge-tertiaire: #FFD6D6;
  --noire: #000000;
  --bleu-fonce:#313144;
  --gris-fonce: #c4c4c4;
  --gris-medium: #D8D8D8;
  --Gris-light: #E5E5E5;
  --white: #ffffff;
  /*_____________________________________________________________*police de la maquette*_____________________________________*/
  --spaceMono-Regular: 'SpaceMono-Regular', sans-serif;
  --SpaceMono-Bold: 'SpaceMono-Bold', sans-serif;
  --popins-Light: 'Poppins-Light', sans-serif;
}
/*_______________________________________________________________*chargement des polices*____________________________________*/
@font-face {
  font-family: 'SpaceMono-Regular'; 
  src: 
  url('../polices/SpaceMono-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'SpaceMono-Bold'; 
  src: 
  url('../polices/SpaceMono-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Poppins-Light'; 
  src: 
  url('../polices/Poppins-Light.ttf') format('truetype')
}
/*__________________________________________________________________*code générale*___________________________________________*/
*{
  margin: 0;
}

.button {
  max-width: 242px;
  max-height: 34px;
  width: 12.7vw;
  height: 1.89vw;
  padding: 8px 15px 8px 15px ;
  background-color: var(--gris-medium);
  box-shadow: 0px 2px 1px 0px #00000005;
  font-family: var(--spaceMono-Regular);
  font-size: 12px;
  line-height: 17.77px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postform {
  width: 260px;
  height: 43px;
  border: 1.3px solid var(--gris-medium);
  border-radius: 8px 8px 0px 0px;
  padding: 11px 18px 11px 18px;
}

@media (max-width:750px) {
  .button {
  width: 242px;
  height: 34px;
  }
}
/*____________________________________________________________________*header*________________________________________________*/
body {
width: 100%; 
max-width: 1440px;
margin: auto;
height: 100px;
}

header {
position: relative;
display: flex;
width: 100%;
height: calc(4.32rem + 0.6vw);
z-index: 1;
}

.logo {
position:absolute ;
z-index: 2;
margin-top: 31px;
width: calc(7.47rem + 5.06vw);
margin-left: calc(0.94rem + 6.6743vw);
}

.logo img{
  width: calc(7.47rem + 5.06vw);
}

.menu-one {
  width: 100%;
  height: calc(4.32rem + 0.6vw);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
}

ul#menu-principale {
  display: flex;
  gap: 45px;
}

.contact {
  display: flex;
  padding-left: 45px;
  margin-right: calc(0.1rem + 7.541vw);
}

li {
  list-style-type: none;
  list-style: none;
  color: black;
  text-decoration: none;
  font-family: var(--spaceMono-Regular);
  font-size: 16px;
  line-height: 23.7px;
}

a,
a:visited {
text-decoration: none;
}

#icons {
display: none;
}

@media (max-width: 750px) {

  #icons {
    display: block;
  }

  #icons:before {
    display: block;
    content: url("../assets/images/open.png");
    width: 27.42px;
    height: 18.85px;
    margin-right: 15px;
  }

  .active #icons:before {
    display: block;
    content: url("../assets/images/close.png");
    width: 27.42px;
    height: 18.85px;
  }

  .menu-one {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    top: 72px;
    justify-content: center;
    width: 100%;
    height: 812px;
    background-color: var(--rouge);
    left: -100%;
    gap: 18px;
    transition: 0.4s;
  }

  ul#menu-principale {
    display: flex;
    gap: 18px;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }

  .contact{
    padding-left: 0px;
    margin-right: 0px;
  }

  a#contactBtn {
    display: flex;
    margin-top: 18px;
    width: 189px;
    height: 65px;
    justify-content: center;
  }

  nav {
    justify-content: flex-end;
    transition: 0.4s;
  }

  nav li a {
    color: var(--white);
    font-size: 44px;
    line-height: 65px;
  }

  nav.active .menu-one {
    left: 0px;
    transition: 0.4s;
  }

  .logo {
    margin-top: 22px;
  }
}
/*__________________________________________________________________*pied de page*_____________________________________________*/
ul#menu-pied-de-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 86px;
  font-family: var(--spaceMono-Regular);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: black;
  border-top: 1px solid #000000;
}

.menu-pied-de-page-container {
  display: flex;
  width: 100%;
  height: 40px;
}

a {
  color: var(--noire);
}

@media (max-width: 750px) {
  .menu-pied-de-page-container {
    display: flex;
    width: 100%;
    height: 208px;
  }

  ul#menu-pied-de-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 24px;
    padding: 0PX;
  }
}
/*_________________________________________________________________*Modale Contact*____________________________________________*/
#contactModal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}

#contactModal .modal-content {
  display: flex;
  flex-direction: column;
  width: 587px;
  height: 759px;
  border: 5px solid var(--noire);
  background-color: var(--white);
  overflow: hidden;
}

#contactModal .modal-content img {
  width: 885.96px;
  height: 106.5px;
  margin-left: -141.49px;
  margin-top: 18px;
}

div#wpcf7-f37-o1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 587px;
}

form.wpcf7-form.invalid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
  width: 261px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid var(--noire);
  padding: 0px;
}

.modal-content textarea.wpcf7-form-control.wpcf7-textarea {
  width: 259px;
  height: 206px;
  border-radius: 8px;
  border: 1px solid var(--noire);
}

input.wpcf7-form-control.wpcf7-submit.has-spinner {
  width: 263px;
  height: 50px;
  border: none;
  margin-top: 15px;
  background-color: var(--gris-medium);
}

form.wpcf7-form.init p {
  display: flex;
  margin-top: 24px;
  width: 263px;
}

.wpcf7-spinner{
  display: none;
}

form.wpcf7-form.failed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input.wpcf7-form-control.wpcf7-text {

  width: 261px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid var(--noire);
  padding: 0px;
}

@media (max-width: 750px) {
  div#wpcf7-f37-o1 {
  width: auto;
  }
}
/*______________________________________________________________*affichage post photo*______________________________________*/
article.post {
  display: flex;
  flex-direction: column;
  margin-left: calc(2rem + 5.97vw);
  margin-right: calc(2rem + 5.97vw);
  box-shadow: inset 0px 10px 10px 0px #00000005;
}

.post-info-image {
  width: 100%;
  margin-top: 38px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  max-height: 850px;
}

.post-info {
  display: flex;
  width: 50%;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid;
}

.post-image {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  position: relative;
    z-index: 1;
}

.open-lightbox-single {
  content: url(../assets/images/Icon_fullscreen.png);
}

.post-image img{
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin-left: 6px;
  position: relative;
}

.post-info h1 {
  font-family: var(--spaceMono-Regular);
  font-style: italic;
  font-size: 66px;
  line-height: 58px;
}

.post-texte {
  display: flex;
  width: 420px;
  height: 321px;
  margin-bottom: 37px;
  flex-direction: column;
  justify-content: space-between;
}

.post-texte p {
  font-family: var(--spaceMono-Regular);
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20.73px;
}
/*__________________________________________________________*affichage post commande*_________________________________________*/
.post-commande {
  display: flex;
  height: 118px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.post-commande-texte {
  display: flex;
  align-items: center;
  gap: calc(1rem + 2vw);
}

.post-commande-btn {
  display: flex;
  align-items: center;
}

@media (max-width: 750px) {
  article.post {
    height: auto;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .post-image img {
    margin-top: 20px;
    object-fit: contain;
    width: 71vw;
  }

  .post-info-image {
    display: flex;
    width: 72vw;
    flex-direction: column;
    max-height: none;
    margin: auto;
  }

  .post-info {
    width: 100%;
    height: auto;
  }

  .post-image {
    width: 100%;
    height: auto;
  }

  .post-info {
    margin-top: 20px;
    border-bottom: none;
  }

  .post-commande {
    flex-direction: column;
    margin: 0px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    gap: 0px;
    height: 105px;
  }

  .post-commande-texte {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    align-items: flex-start;
  }

  .post-commande-texte p {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }

  .bouton {
    width: 233px;
    height: 30px;
  }

  ul#commande-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

}
/*____________________________________________________________*Post navigation*________________________________________________*/
.post-commande-navigation {
  position: relative;
  width: 81px;
  height: 118px;
  margin-top: 15px;
}

.post-commande-navigation img {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 81px;
  height: 71px;
  object-fit: cover;
}

.img1 {
 display: none;
 z-index: 2;
}

.img2 {
  display: none;
  z-index: 2;
}

.miniature img {
  display: flex;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 1;
}

.post-commande-arrow {
  display: flex;
  width: 81px;
  height: 30px;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 71px;
}

.arrow_left{
  position: relative;
  display: flex;
  background-image: url(../assets/images/fleche-gauche.png);
  width: 26px;
  height: 8px;
  z-index: 1;
}

.arrow_right{
  position: relative;
  display: flex;
  background-image: url(../assets/images/fleche-droite.png);
  width: 26px;
  height: 8px;
  z-index: 1;
}

.arrow_right:hover + .img2 {
  display: block;
}

.arrow_left:hover + .img1 {
  display: block;
}

@media (max-width: 750px) {

  .post-commande-navigation {
    display: none;
  }
}
/*___________________________________________________________*Post apparentée*________________________________________________*/
.post-apparente h2 {
  margin: 79px 0px 77px 0px;
  display: flex;
  
}

.post-apparente-image {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.post-apparente-image .photo{
  width: 50%;
  display: flex;
  justify-content: center;
}

.post-apparente-image .photo img {
  max-width: 564px;
  max-height: 495px;
  object-fit: cover;
}

.post-apparente-btn {
  display: flex;
  justify-content: center;
  margin: 53px 0px 64px 0px;
}

@media (max-width: 750px) {

  .post-apparente {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

  .post-apparente-image {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 18px;
  align-items: center;

  }
  
  .post-apparente-image .photo{
    display: flex;
    position: relative;
    max-width: 564px;
    max-height: 495px;
    min-width: 317.66px;
    min-height: 278.8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .post-apparente-image .photo img {
    min-width: 317.66px;
    min-height: 278.8px;
  }

  .post-apparente h2 {
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
  }
  .post-apparente-btn { 
  display: none;
  }
}
/*_____________________________________________________________hero______________________________________________________*/ 
.main-hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-hero-image{
  max-height: 962px;
  height: 50.819vw;
  min-width: 379px;
  min-height: 250px;
}

.main-hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-hero h1 {
  position: absolute;
  display: flex;
  max-width: 1440px;
  width: 100%;
  top: 21.203vw;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  font-family: var(--spaceMono-Regular);
  font-size: 5vw;
  font-style: italic;
  line-height: 142px;
  -webkit-text-stroke: 0.01px white; 
  color: transparent; 
}

@media (max-width: 750px) {
  .main-hero h1 {
    font-size: 7.47vw;
    top: 177px;
    font-size: 28px;
    line-height: 40.86px;
    -webkit-text-stroke: 0.1px white; 
  }

}

/*___________________________________________________*Pagination photo accueil*___________________________________________*/

.main-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1148px;
  margin: auto;
  gap: 20px;
  z-index: 0;
  position: relative;
}

.main-pagination .photo {
  display: flex;
  position: relative;
  max-width: 564px;
  max-height: 495px;
  flex-direction: column;
  justify-content: flex-start;
}

.photo img {
  position: relative;
  max-width: 564px;
  max-height: 495px;
  width: 40vw;
  height: 40vw;
  object-fit: cover;
  z-index: 3;
}

.main-pagination-button {
  margin-top: 21.2px;
  margin-bottom: 21.2px;
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  .pagination {
  flex-direction: column;
  align-content: center;
  }
  .pagination .photo {
    display: flex;
    position: relative;
  }
  .photo img {
  min-width: 317.66px;
  min-height: 278.8px;
  }

}
/*____________________________________________________*filter*___________________________________________________________*/
.main-filter {
  display: flex;
  justify-content: space-between;
  height: 83px;
  padding-top: 79px;
  margin: auto;
  max-width: 1148px;
  width: 90%;
}

select {
  font-family: var(--popins-Light);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--bleu-fonce);
} 

.main-filter-catfor {
  gap: 36px;
  display: flex;
  height: 43px;
}

.main-filter-trier {
  display: flex;
  height: 43px;
}

.select2{
  appearance: none;
}

span.select2-selection.select2-selection--single {
  height: 43px;
  border-radius: 8px 8px 8px 8px;
}

input.select2-search__field {
  display: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color:var(--rouge);
  color: white;
}

ul#select2-categorie-results {
  border-radius: 0px 0px 8px 8px;
  text-transform: lowercase;
}

ul#select2-trier-results {
  text-transform: lowercase;
}

.select2-container--default .select2-results>.select2-results__options {
  text-transform: lowercase;
}

.select2-container--default .select2-results__option--selected {
  background-color: #ddd0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0px 0px 8px 8px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 43px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-width: 0 4px 5px 4px;
  position: absolute;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: none!important;
  content: url(../assets/images/chevron-up-s.png);
  width: 22px;
  height: 22px;
  left: 0px;
  top: 25%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none!important;
  content: url(../assets/images/chevron-down-p.png);
  width: 22px;
  height: 22px;
  left: 0px;
  top: 25%;
  border-style: none;
  margin-left: -5px;
  margin-top: -7px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 20px;
  right: 12px;
  display: flex;
  margin-top: 11px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border: 1px solid;
  border-color: #215AFF;
  border-bottom: 1.3px;
}

.select2-container--open .select2-dropdown--below {
  border-top: 1.3px solid;
  border-top-color: #215aff;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-color: blue;
}

span.select2-dropdown.select2-dropdown--below {
  margin-top: 0px;
  position: absolute;

}

.select2-container--open .select2-dropdown--above {
  margin-top: 0px;
  position: absolute;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 8px 8px 0px 0px;
}

@media (max-width:950px) {
  .main-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 150px;
  }
  .main-filter-catfor {
    display: flex;
    gap: 10px;
    flex-direction: column
}
  .main-filter-trier {
    margin-top: 15px;
  }
}
/*______________________________________________*overlay*___________________________________________________________*/

.photo:hover .overlay {
  z-index: 10;
}

.photo .overlay{
  position: absolute;
  max-width: 564px;
  max-height: 495px;
  width: 40vw;
  height: 40vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.fullscreen a {
  z-index: 5;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  top: 11px;
  right: 11px;

}

.eye {
  background: url(../assets/images/Icon_fullscreen.png)  100% / 100%;
  z-index: 5;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 88%;
  top: 3%;
  display: flex;
  cursor: pointer!important;
}

div#overlay-eye {
  width: 20px;
  height: 20px;
}

.fullscreen {
  background: url(../assets/images/Icon_eye.png) center center no-repeat;
  z-index: 5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.info a {
  color: white;
  pointer-events: none;
}

.info {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: flex-end;
  height: 98%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width:1000px) {
  .eye {
  display: none;
  }

}

@media (max-width:750px) {
  .photo .overlay {
    position: absolute;
    min-width: 317.8px;
    min-height: 278.8px;
  }

}
/*______________________________________________*lightbox*________________________________________________________________*/

.lightbox {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .80);
  z-index: 20;
  justify-content: center;
  align-items: center;
}
.lightbox__box {
  position: relative;
  display: flex;
  position: fixed;
  width: 978px;
  height: 857px;
  z-index: 20;
  justify-content: center;
  align-items: center;
}

.lightbox__next {
  position: absolute;
  border: none;
  background: url(../assets/images/Navigation_arrows_n.png) center center / 92px 18px no-repeat ;
  width: 92px;
  top: 449px;
  right: 45px;
  position: absolute;
  z-index: 21;
  text-indent: -3000px;
  cursor: pointer;
}

.lightbox__prev {
  border: none;
  background: url(../assets/images/Navigation_arrows_p.png) center center / 107px 18px no-repeat ;
  width: 107px;
  top: 449px;
  right: 846px;
  position: absolute;
  z-index: 21;
  text-indent: -3000px;
  cursor: pointer;
}

.lightbox__close {
  border: none;
  background: url(../assets/images/Close_2.png);
  text-indent: -3000px;
  width: 22.02px;
  height: 22.02px;
  cursor: pointer;
  z-index: 21;
  position: absolute;
  top: 54.99px; 
  left: 904px;
}

.lightbox__container {
  display: flex;
  height: 100vh;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lightbox__container img {
  width: 564px;
  height: 495px;
  object-fit: cover;
}

.lightbox__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 564px;
  margin-top: 19px;
}

p.lightbox__ref {
  color: white;
}

p.lightbox__cat {
  color: white;
}

@media (max-width:1000px) {
  .lightbox {
    display: none;
    background-color: transparent;
  }
  .lightbox__box {
    display: none;
  }
}

